.containerFilters {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid black;
    position: sticky;
    top: 25%;
    height: fit-content;
    background-color: var(--background-color-containers);
    padding: 2rem;
    border-radius: var(--border-radius);
  }

  select {
    font-family: 'Arial Black', sans-serif;
  }
  
  .filterButton {
      padding: 8px;
      border-radius: var(--border-radius);
  }

