.containerFilters {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid black;
    /* top: 0;
      right: 0 */
    position: sticky;
    top: 25%;
    height: fit-content;
    background-color: var(--background-color-containers);
    /* border-right: 1px solid #ffb300; */
    padding: 2rem;
    border-radius: var(--border-radius);
  }
  
  .filterButton {
      padding: 8px;
      border-radius: var(--border-radius);
  }